.mainActionBtn {
  background-color: $blue;
  transition: all ease-in 0.3s;
  border: none;
  color: white;
  &:hover {
    background-color: $orange;
    color: white;
  }
}

.SecondActionBtn {
  transition: all ease-in 0.3s;
  background-color: white;
  border: 2px solid $mint;
  color: black;
  &:hover {
    color: $orange;
    border: 2px solid $mint;
  }
}
