@import "bootstrap/scss/bootstrap";

@import "./global/colors.scss";
@import "./global/toasts.scss";
@import "./global/buttons.scss";
@import "./global/form.scss";
@import "./global/range.scss";

@import "./components/navigation.scss";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  box-sizing: border-box;
}

