@import "bootstrap/scss/bootstrap";
@import "./global/colors.scss";
@import "./global/toasts.scss";
@import "./global/buttons.scss";
@import "./global/form.scss";
@import "./global/range.scss";

@import "./components/error-page.scss";
@import "./components/nav.scss";
@import "./components/banner.scss";
@import "./components//sign-in.scss";
@import "./components/log-in.scss";
@import "./components/donate-list.scss";
@import "./components/user-list.scss";
@import "./components/modals.scss";
@import "./components/user-edit.scss";
@import "./components/loader.scss";
@import "./components/pending-posts.scss";
@import "./slider//slider.scss";
@import "./components/upload-image.scss";
@import "./components//home.scss";
@import "./components//impact.scss";
@import "./components//divide-line.scss";
@import "./components/about.scss";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  box-sizing: border-box;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: black;
  transition: all ease-in 0.3s;
}

h2 {
  background-color: $mint;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.contentDown {
  margin-top: 150px;
}
