.SliderCont {
  width: 100%;
  aspect-ratio: 10 / 4;
}

.img-slider-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.img-slider-btn {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
}

.img-slider-btn > * {
  color: $emerald;
  font-size: 25px;
}
