.formCenter {
  //form
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .formContainer {
    width: 50%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    button {
      width: 50%;
      align-self: center;
      border: none;
    }
    a {
      width: 50%;
      align-self: center;
    }
  }
}
