.FilterBlock {
  gap: 10px;
  height: auto;
  .searchInput {
    width: 20%;
  }
  .sortblock {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
  }
  .searchIcon {
    fill: $emerald;
    font-size: 20px;
  }
}

.BannerDonorsText {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

  overflow: hidden;
  border-radius: 4px;
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    span {
      font-weight: 700;
      font-style: italic;
      text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }
    .space {
      min-width: 100px;
      padding: 0;
    }
  }
  .letter {
    text-shadow: 1px 1px 3px $gray;
    font-weight: 700;
    display: inline-block;
    font-style: italic;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    font-family: "Kanit", sans-serif;
    opacity: 0;
    transform: translateY(-100px);
    animation: drop 0.2s forwards ease-out;
    color: $orange;
  }
}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
