.HomeDonorsTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  .banner-container {
    display: inline-block;

    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .letter {
    text-shadow: 1px 1px 3px $gray;
    font-weight: 700;
    display: inline-block;
    text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(-100px);
    animation: drop 0.2s forwards ease-out;
  }
}

@keyframes drop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
