.ErropageContainer {
  height: 100vh;
  .ErrorPageCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .erropageContaier {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      img {
        width: 50%;
        margin: 40px;
      }
      .displayErrorMSg {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a {
          font-size: 20px;
          font-weight: 700;
          text-decoration: underline;
        }
        &.ErrorStatusBorder {
          text-align: center;
          font-size: 20px;
          border-radius: 4px;
          border: solid 2px $mint;
          width: 100%;
          padding: 20px 0;
          margin: 0;
        }
      }
    }
  }
}
