@import "bootstrap/scss/bootstrap";
@import "./global/colors.scss";
@import "./global/toasts.scss";
@import "./global/buttons.scss";

@import "./components/error-page.scss";
@import "./components/nav.scss";
@import "./components//sign-in.scss";
@import "./components/log-in.scss";
@import "./components/user-list.scss";
@import "./components/delete-modal.scss";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  transition: all ease-in 0.3s;
}

h2 {
  background-color: $mint;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
