@import "bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./nav.scss";
@import "./sign-in.scss";
@import "./toasts.scss";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  transition: all ease-in 0.3s;
}

a:hover {
  color: $orange;
}
