@import "bootstrap/scss/bootstrap";
@import "./colors.scss";
@import "./nav.scss";
@import "./sign-in.scss";
@import "./toasts.scss";
@import "error-page.scss";

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  transition: all ease-in 0.3s;
}

a:hover {
  color: $orange;
}

h2 {
  background-color: $mint;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
