.Navigation {
  border-radius: 5px;
  border: solid 2px $emerald;
  border-top: none;
}

.Pages {
  border-right: 2px solid $emerald;
  padding-right: 5px;
}

.UserTags {
  border-left: 2px solid $emerald;
  padding-left: 5px;
}
